---
layout: default
title: Blog
pagination:
  enabled: true
  collection: posts
  category: blog
  permalink: /page/:num/
  per_page: 8
  sort_field: date
  sort_reverse: true
  trail:
    before: 1
    after: 3
---

<div class="post blog-index">
  <header class="blog-index-header">
    <h1>{{ site.blog_name | default: page.title }}</h1>
    {% if site.blog_description != blank %}
      <p>{{ site.blog_description }}</p>
    {% endif %}
  </header>

  {% include blog_index_nav.html %}

  <ul class="blog-list">
    {% for post in paginator.posts %}
      {% include blog_list_item.html post=post %}
    {% else %}
      <li class="blog-list-empty">No posts yet.</li>
    {% endfor %}
  </ul>

  {% include pagination.html %}
</div>
